* {
  margin: 0;
  padding: 0;
}
.App {
  max-width: 100%;

  padding: 0 25px;
}
.backgound-design {
  margin: 0;
  height: 100vh;
  background-color: #a8d8ea;
}

.City {
  font-weight: bolder;
  font-size: 3em;
  margin: 0;
  text-align: center;
}

.City:hover {
  color: rgba(68, 3, 3, 0.671);
}

.currentTemp {
  font-size: 30px;
  margin: auto 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.currentTempText {
  font-size: 30px;
  display: block;
  text-align: center;
}
.CardSection {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.data {
  margin: 10px 10px auto;
}

.data strong {
  font-family: "Courier New", Courier, monospace;
}
.header {
  font-size: 3em;
  text-align: center;
}

.ImageWeatherWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 90px;
}

.Navigation {
  display: flex;
  padding: 20px 0;
}

.Navigation a {
  color: black;
  font-size: 15px;
  margin-right: 10px;
  text-decoration: none;
}

.Navigation a.Active {
  border-bottom: 2px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.WeatherCard {
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  width: 50%;
}

.WeatherCard p {
  margin-right: 10px;
}
@media (min-width: 800px) {
  .City {
    font-size: 6em;
  }
  .currentTemp {
    font-size: 40px;
  }
  .currentTempText {
    font-size: 40px;
  }
  .ImageWeatherWrapper {
    font-size: 160px;
  }
  .Navigation a {
    font-size: 20px;
    margin-right: 20px;
  }
  /* .CardSectionWrapper {
    flex-direction: row;
  } */
}
