.App {
  max-width: 1080px;

  padding: 0 25px;
}
.backgound-design {
  margin: 0;
  background-color: #a8d8ea;
}
/* .root {
  height: 100%;
  background-color: #a8d8ea;
} */
.header {
  font-size: 3em;
  text-align: center;
}
.WeatherCard {
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  width: 50%;
  background-color: #aa96da;
}
.WeatherCard p {
  margin-right: 10px;
}
